In [1]:
print('Hello')

Hello

In [4]:
print("Hello \
        python")

Hello         python

In [5]:
print("python's world")

python's world

In [6]:
print("Hello\nPython")

Hello
Python

In [7]:
print('Hello\'s python')

Hello's python

In [9]:
name="xyz"
mark=90.2
age=20
print("The name of the person is",name,"marks is",mark,"age is ",age)

The name of the person is xyz marks is 90.2 age is  20

In [12]:
name="xyz"
mark=90.2
age=20
print("The name of the person is %s and marks is %f and age is %d"%(name,mark, age))

The name of the person is xyz and marks is 90.200000 and age is 20

In [13]:
name="xyz"
mark=90.2
age=20
print(f"The name of the person is {name} and marks is {mark} and age is {age}")

The name of the person is xyz and marks is 90.2 and age is 20

In [14]:
10<9 and 20<M

False

In [15]:
10>9 or 20<m

True

In [16]:
a=10
print(a)

10

In [17]:
a=b=c=10
print(a+b+c)

30

In [18]:
a=10
print(id(a))

140727210255024

In [19]:
b=10
print(id(b))

140727210255024

In [20]:
print(a==b)

True

In [21]:
print(a is b)

True

In [22]:
a=3000
b=3000
print(a is b)

False

In [23]:
s="anbfvheenui"
print('a'in s)

True

In [24]:
a=10
print(a**2)

100